* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
  /* justify-content: space-between; */
}
#header {
  position: fixed;
  width: 90%;
  /* height: 17.1%; */
  margin: 0px 0% 0% 5%;
  display: flex;
  align-items: center;
  border-radius: 70px;
  /* padding: -2%; */
  justify-content: space-between;
  z-index: 10;
}
.logo {
  width: 7.5rem;
  cursor: pointer;
  filter: brightness(1) invert(0);
}
.navbar {
  padding: 0.5%;
  border-radius: 50px;
  background-color: rgba(138, 139, 187, 0.601);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.navbar a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin: 2rem;
  transition: color 0.3s;
}
.navbar1:hover {
  text-decoration: underline;
  color: orange;
  animation: animate__pulse;
}
#check {
  display: none;
}
.icons {
  cursor: pointer;
  position: absolute;
  right: 5%;
  display: none;
}
#container {
  width: 100%;
  height: 100vh;
}
/* .home-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */
/* .baliImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
} */
.home-img{
  width: 100%;
  height: 100vh;
  background-image: url('./images/4k-landscape-background-image.jpg');
  background-attachment: fixed;
  background-size: cover ;
}
#h1,
#h2 {
  position: absolute;
  color: azure;
  font-size: 36px;
  z-index: 1;
}
#h1 {
  top: 35%;
  left: 3%;
  font-family: "Italianno", cursive;
  font-weight: 200;
  font-size: 148px;
}
#h2 {
  top: 55%;
  left: 3%;
  font-size: 30px;
  font-family: "Lora", serif;
}
#destination {
  margin: 5% 10% 0% 10%;
  /* border: solid darkcyan; */
}

.destiHead {
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: "Almendra", serif;
}
.destiCards {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.desti {
  width: 320px;
  height: 40vh;
  background-color: #fffee6;
  transition: 0.5s ease-in-out;
}
.desti:hover {
  transform: scale(1.05);
  display: inline;
}
.destiImg {
  width: 300px;
  height: 200px;
  /* padding: 6px; */
  margin: 10px;
}
.loc {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-left: 6px;
  gap: 10px;
}
.destiName {
  padding-left: 6px;
  font-family: "Baumans", system-ui;
}
.destiName1 {
  padding-left: 6px;
}
.disc {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
.discImg {
  margin-top: 5%;
  width: 100%;
  height: 60vh;
  z-index: 0;
  position: relative;
  object-fit: cover;
  transform: scaleX(-1);
  object-position: top;
}
#disc-h2 {
  position: absolute;
  color: azure;
  font-family: "Cormorant SC", serif;
  top: 40%;
  right: 10%;
  font-size: 40px;
  z-index: 1;
}
span {
  font-size: 30px;
  font-family: "Baumans", system-ui;
}
#disc-h3 {
  position: absolute;
  color: azure;
  top: 55%;
  right: 10%;
  font-family: "Baumans", system-ui;
  text-align: end;
  font-size: 22px;
  z-index: 1;
}
#review {
  margin: 5% 10% 0% 10%;
}
.review-slider {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* Hide all reviews initially */
.review-body {
  text-align: center;
  margin: 5% 10% 5% 10%;
  padding: 2%;
  border-radius: 10px;
  display: flex;  
  align-items: center;
  display: none;
  background-color: #fffee6;
  gap: 3%;
  animation: fade 0.5s ease-in-out;
}

/* Show only the selected review */
#r1:checked~ .review-slider .rb1,
#r2:checked~ .review-slider .rb2,
#r3:checked~ .review-slider .rb3 {
  display: flex;
}

/* Hide radio buttons */
#r1, #r2, #r3 {
  display: none;
}
/* .review-content{
  border: solid black;
} */
.reviewImg,
.review-content {
  flex: 1;
  min-width: 300px; /* prevent breaking */
}
/* Arrows */
.review-arrows {
  position: relative;
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
}
.review-arrows label {
  font-size: 2rem;
  cursor: pointer;
  color: black;
  transition: color 0.3s;
}
.review-arrows label:hover {
  color: #ff7f50;
}
/* Image style */
.reviewImg1 {
  width: 250px;
  height: 350px;
  margin-left: 2px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* Text */
.review-para {
  margin-top: 1%;
  font-size: 1.2rem;
  margin-right: 2px;
  text-align: center;
}
.review-author {
  font-weight: 600;
  margin-top: 5%;
  font-size: 1.2rem;
  text-align: center;
}

/* Optional: Animation */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-body{
  position: relative;
}
.contact-image{
  position: relative;
    width: 100%;
    height: 500px;
    background-image: url('./images/orange-4k-landscape-wallpaper-photo.jpg');
    background-attachment: fixed;
    background-size: cover ;
    filter: brightness(0.8);

}
.contact-icons{
  /* display: flex; */
  font-size: 3.2rem;
  margin-left: 5%;
  padding-top: 20%;
  margin-right: 5%;
  /* justify-content: center; */
  /* align-items: center; */
}
hr{
  position: absolute;
  top: 30%;
  z-index: 5;
  margin-bottom: 10%;
  border: solid 1px rgb(255, 255, 255);
}
#footer {
  z-index: 5;
  color: white;
  font-weight: 600;
  filter: brightness(10);
  position: absolute;
  top: 77%;
  left: 5%;
  font-size: 1.2rem;
  /* margin-bottom: 0px; */
  text-align: center;
}
@media(max-width: 1200px){
  .review-arrows {
  position: absolute;
  /* margin-left: -40px; */
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
}
@media (max-width: 992px) {
  .navbar a {
    margin: 20px;
  }

.review-body {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
  }

  .reviewImg1 {
    width: 80%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  .review-content {
    width: 100%;
    padding: 0 1rem;
  }

  .review-para {
    font-size: 1rem;
    text-align: center;
  }

  .review-author {
    font-size: 1rem;
    text-align: center;
  }

  .review-arrows {
  position: static;
  margin-left: -40px;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
  footer {
  margin-bottom: 0px;
  text-align: center;
}
}
@media (max-width: 760px) {
  .icons {
    display: flex;
  }
  #closeIcon {
    display: none;
  }
  #check:checked ~ .icons #menuIcon {
    display: none;
  }
  #check:checked ~ .icons #closeIcon {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
  }
  #check:checked ~ .navbar {
    display: block;
  }
  .navbar a {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem 0px;
    color: rgb(0, 0, 0);
  }
  #h1 {
    top: 55%;
    left: 3%;
    font-family: "Italianno", cursive;
    font-weight: 200;
    font-size: 148px;
  }
  #h2 {
    top: 75%;
    left: 3%;
    font-size: 30px;
    font-family: "Lora", serif;
  }

.review-body {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
  }

  .reviewImg1 {
    width: 80%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  .review-content {
    width: 100%;
    padding: 0 1rem;
  }

  .review-para {
    font-size: 1rem;
    text-align: center;
  }

  .review-author {
    font-size: 1rem;
    text-align: center;
  }

  .review-arrows {
    justify-content: center;
    gap: 2rem;
  }
  footer {
  margin-bottom: 0px;
  text-align: center;
}
}
@media (max-width: 610px) {
  #h1 {
    top: 55%;
    left: 3%;
    font-family: "Italianno", cursive;
    font-weight: 200;
    font-size: 108px;
  }
  #h2 {
    top: 75%;
    left: 3%;
    font-size: 20px;
    font-family: "Lora", serif;
  }
  #disc-h2 {
    position: absolute;
    color: azure;
    font-family: "Cormorant SC", serif;
    top: 40%;
    right: 10%;
    font-size: 30px;
    z-index: 10;
  }
  span {
    font-size: 23px;
    font-family: "Baumans", system-ui;
  }
  #disc-h3 {
    position: absolute;
    color: azure;
    top: 55%;
    right: 10%;
    font-family: "Baumans", system-ui;
    text-align: end;
    font-size: 20px;
    z-index: 10;
  }
  footer {
  margin-bottom: 0px;
  text-align: center;
}
}
